# Node.js
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# SvelteKit
.svelte-kit/
.build/

# TypeScript
*.tsbuildinfo

# Vite
dist/
.vite/

# Editor/IDE
.vscode/
.idea/
*.log
*.swp
.DS_Store
Thumbs.db
